extends ../layout

block content
  .container
    center
      h1 Information of Students
      table.table.table-striped
        tr
          th Student Full Name
          th Age.
          th Contact No.
          th Email
          th Course
          th Fee
          th Date of admission
        tr
          td #{record.name.full}
          td #{record.age} 
          td #{record.contact} 
          td #{record.email} 
          td #{record.course}
          td #{record.fee} 
          td #{record.doa} 
      div
        a.btn.btn-success.btn-lg(href="/users/#{record._id}/edit") Edit